{% extends "layout.html" %}
{% block content %}
<div class="class 10">

<h1>class10 respiration </h1>
<p>1. Which of the following are energy foods? <br>
    (a) Carbohydrates and fats <br>
    (b) Proteins and mineral salts<br>
    (c) Vitamins and minerals<br>
    (d) Water and roughage<br>
    
    Answer<br>

    2. In which mode of nutrition an organism de-rives its food from the body of another living organism without killing it? <br>
    (a) Saprotrophic nutrition<br>
    (b) Parasitic nutrition<br>
    (c) Holozoic nutrition<br>
    (d) Autotrophic nutrition<br>
    <br>
    Answer<br>

    3. The mode of nutrition found in fungi is:<br>
    (a) Parasitic nutrition<br>
    (b) Holozoic nutrition<br>
    (c) Autotrophic nutrition<br>
    (d) Saprotrophic nutrition<br>
    <br>
    Answer<br>
    <br>
    4. Roots of the plants absorb water from the soil through the process of:<br>
    (a) diffusion<br>
    (b) transpiration<br>
    (c) osmosis<br>
    (d) None of these<br>
    <br>
    Answer<br>
    <br>
    5. The site of photosynthesis in the cells of a leaf is <br>
    (a) chloroplast<br>
    (b) mitochondria<br>
    (c) cytoplasm<br>
    (d) protoplasm<br>
    
    Answer<br>
    6. In amoeba, food is digested in the: <br>
    (a) food vacuole<br>
    (b) mitochondria<br>
    (c) pseudopodia<br>
    (d) chloroplast<br>
    
    Answer<br>
    7. Which of the following events in the mouth cavity will be affected if salivary amylase is lacking in the saliva? <br>
    (a) Starch breaking down into sugars. <br>
    (b) Proteins breaking down into amino acids.<br>
    (c) Absorption of vitamins.<br>
    (d) Fats breaking down into fatty acids and glycerol.<br>
    <br>
    Answer<br>
    8. Which region of the alimentary canal absorbs the digested food?<br>
    (a) Stomach<br>
    (b) Small intestine<br>
    (c) Large intestine<br>
    (d) Liver<br>
    <br>
    Answer<br>
    9. The contraction and expansion movement of the walls of the food pipe is called:<br>
    (a) translocation<br>
    (b) transpiration<br>
    (c) peristaltic movement<br>
    (d) digestion<br>
    <br>
    Answer<br>
    10. When a few drops of iodine solution are added to rice water, the solution turns blue- black in colour. This indicates that rice water contains:<br>
    (a) fats<br>
    (b) complex proteins<br>
    (c) starch<br>
    (d) simple proteins<br>
    <br>
    Answer<br>
    11. The exit of unabsorbed food material is regu-lated by<br>
    (a) liver<br>
    (b) anus<br>
    (c) small intestine<br>
    (d) anal sphincter<br>
    <br>
    Answer<br>
    12. What are the products obtained by anaerobic respiration in plants?<br>
    (a) Lactic acid + Energy<br>
    (b) Carbon dioxide + Water + Energy<br>
    (c) Ethanol + Carbon dioxide + Energy<br>
    (d) Pyruvate<br>
    <br>
    Answer<br>
    13. The breakdown of pyruvate to give carbon di-oxide, water and energy takes place in<br>
    (a) cytoplasm<br>
    (b) mitochondria<br>
    (c) chloroplast<br>
    (d) nucleus<br>
    <br>
    Answer<br>
    14. Glycolysis process occurs in which part of the cell?<br>
    (a) Cytoplasm<br>
    (b) Nucleus<br>
    (c) Mitochondria<br>
    (d) Chloroplast<br>
    <br>
    Answer<br>
    15. Name the substances whose build up in the muscles during vigorous physical exercise may cause cramps?<br>
    (a) Ethanol + Carbon dioxide + Energy<br>
    (b) Lactic acid + Energy<br>
    (c) Carbon dioxide + Water + Energy<br>
    (d) Pyruvate<br>
    <br>
    Answer<br>
    16. Name the pores in a leaf through which respi-ratory exchange of gases takes place.<br>
    (a) Lenticels<br>
    (b) Vacuoles<br>
    (c) Xylem<br>
    (d) Stomata<br>
    <br>
    Answer<br>
    17. The respiratory pigment in human beings is:<br>
    (a) carotene<br>
    (b) chlorophyll<br>
    (c) haemoglobin<br>
    (d) mitochondria<br>
    <br>
    Answer<br>
    18. Which plant tissue transports water and min-erals from the roots to the leaf?<br>
    (a) Xylem<br>
    (b) Phloem<br>
    (c) Parenchyma<br>
    (d) Collenchyma<br>
    <br>
    Answer<br>
    19. The movement of food in phloem is called:<br>
    (a) transpiration<br>
    (b) translocation<br>
    (c) respiration<br>
    (d) evaporation<br>
    <br>
    Answer<br>
    20. A blood vessel which pumps the blood from the heart to the entire body:<br>
    (a) artery<br>
    (b) capillary<br>
    (c) Vein<br>
    (d) Haemoglobin<br>
    <br>
    Answer<br>
    21. Name a circulatory fluid in the human body other than blood.<br>
    (a) Platelets<br>
    (b) RBC<br>
    (c) Lymph<br>
    (d) Plasma<br>
    <br>
    Answer<br>
    22. Single circulation, i.e., blood flows through the heart only once during one cycle of passage through the body, is exhibited by which of the following:<br>
    (a) hyla, rana, draco<br>
    (b) whale, dolphin, turtle<br>
    (c) labeo, chameleon, salamander<br>
    (d) hippocampus, exocoetus, anabas<br>
    <br>
    Answer<br>
    23. Name the tube which connects the kidneys to the urinary bladder.<br>
    (a) Urethra<br>
    (b) Nephron<br>
    (c) Tubule<br>
    (d) Ureter<br>
    <br>
    Answer<br>
    24. Which part of nephron allows the selective reabsorption of useful substances like glucose, amino acids, salts and water into the blood capillaries?<br>
    (a) Tubule<br>
    (b) Glomerulus<br>
    (c) Bowman’s capsule<br>
    (d) Ureter<br>
    <br>
    Answer<br>
    25. Where is the dirty blood in our body filtered?<br>
    (a) Heart<br>
    (b) Lungs<br>
    (c) Ureter<br>
    (d) Kidneys<br>
    <br>
    Answer<br>
    26. The procedure used for cleaning the blood of a person by separating urea from it is called:<br>
    (a) osmosis<br>
    (b) filtration<br>
    (c) dialysis<br>
    (d) double circulation<br>
    <br>
    Answer<br>
    27. Which is the correct sequence of body parts in the human alimentary canal?<br>
    (a) Mouth → stomach → small intestine → large intestine → oesophagus<br>
    (b) Mouth → oesophagus → stomach → small intestine → large intestine<br>
    (c) Mouth → stomach → oesophagus → smallintestine → large intestine<br>
    (d) Mouth → oesophagus → stomach → large intestine → small intestine<br>
    <br>
    Answer<br>
    28. Identify the correct path of urine in the human body.<br>
    (a) Kidney → urinary bladder → urethra → ureter<br>
    (b) Urinary bladder → ureter → kidney → urethra<br>
    (c) Kidney → ureter → urethra → urinary bladder<br>
    (d) Kidney → ureter → urinary bladder → urethra<br>
    <br>
    Answer<br>
    Fill in the Blanks<br>
    1. The exit of food from the stomach is regulated by a ………. muscle.<br>
    2. ………. is the longest part of the alimentary canal.<br>
    3. The process of breakdown of glucose, (a six-carbon molecule) into pyruvate, (a three-carbon molecule), takes place in the ………. .<br>
    4. ………. is the site of the complete digestion of carbohydrates, proteins and fats.<br>
    5. Breaking of pyruvate using oxygen takes place in the ………. .<br>
    6. Rings of cartilage are present in the wind pipe to ensure that the ………. .<br>
    7. The blood has ………. cells which plug the leakage in the vessels by helping to clot the blood at the point of injury.<br>
    8. ………. transports products of photosynthesis from the leaves to other parts of the plant.<br>
    <br>
    Answers<br>
    1. sphincter<br>
    2. Small intestine<br>
    3. cytoplasm<br>
    4. Small intestine<br>
    5. mitochondria<br>
    6. air-passage does not collapse<br>
    7. platelet<br>
    8. phloem <br></p>
</div>
{% endblock %}